extends layout

block content
  #ww
    .container
      .row
        .col-lg-8.col-lg-offset-2.centered
          img(src='/images/user.png', alt='Stanley')
          h1 Hi, I'm Lucas Stinchcombe!
          p.
            Hi everyone. I'm Lucas Shigeru Stinchcombe, a third year student at McGill University studying Computer Science.
          p.
            Be yourself and enjoy life or something.
