extends layout

block content
  #ww
    .container
      .row
        .col-lg-8.col-lg-offset-2.centered
          h1 Under Construction!
          p 
            | In the mean time, checkout my&nbsp;
            a(href='https://github.com/LucasStinchcombe') Github
            
